# Alchemy
ALCHEMY_DEPLOY_KEY=
ALCHEMY_SUBGRAPH_VERSION_ARBITRUM_SEPOLIA=v0.0.1

# Mobula
MOBULA_API_KEY=
# Mobula has manual version control so update this and run `yarn create-mobula:matchain && yarn deploy-mobula:matchain`
# underscores used instead of `.`
MOBULA_VERSION=v0_0_4